In [18]:
import numpy as np
import pandas as pd
import requests
import datetime
import calendar 
import warnings
from datetime import datetime
warnings.filterwarnings("ignore")

In [57]:
df_1 = pd.read_csv('Confirmed_Data_T.csv',index_col=0)
df_1_old = pd.read_csv('Confirmed_Data_old.csv',index_col=0)
df_2 = pd.read_csv('Recovered_Data_T.csv',index_col=0)
df_3 = pd.read_csv('Deaths_Data_T.csv',index_col=0)
df_4 = pd.read_csv('Active_Data_T.csv',index_col=0)

In [58]:
df_1_old = df_1_old.T

In [62]:
df_1_old.iloc[[-1]]

,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,United States of America,Uruguay,Uzbekistan,Venezuela (Bolivarian Republic),Viet Nam,Western Sahara,Yemen,Zambia,Zimbabwe
2020-06-28,30967,2402,13273,855,267,69,59933,24645,7764,17654,...,312640,2548996,929,7948,5297,355,10,1118,1557,567

In [71]:
def Lastest_date_data(df_old,df_new):
    df_latest = pd.DataFrame()
    T = df_old.iloc[[-1]].index.tolist()[0]
    Today = datetime.today().strftime('%Y-%m-%d')
    d1 = datetime.strptime(T, "%Y-%m-%d")
    d2 = datetime.strptime(Today, "%Y-%m-%d")
    Diff = abs((d2 - d1).days)
    for i in range(1,Diff):
        df_latest = df_latest.append(df_new.iloc[[-i]])
    
    df_latest = df_latest.sort_index()
    
    return df_latest

In [72]:
Df_latest = Lastest_date_data(df_1_old,df_1)
Df_latest

,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,United States of America,Uruguay,Uzbekistan,Venezuela (Bolivarian Republic),Viet Nam,Western Sahara,Yemen,Zambia,Zimbabwe
2020-06-29,31238,2466,13571,855,276,69,62268,25127,7834,17723,...,313470,2590668,932,8222,5530,355,10,1128,1568,574
2020-06-30,31517,2535,13907,855,284,69,64530,25542,7920,17766,...,314160,2636414,936,8503,5832,355,10,1158,1594,591
2020-07-01,31836,2580,14272,855,291,69,67197,26065,8001,17873,...,314992,2687588,943,8781,6062,355,10,1190,1632,605
2020-07-02,32022,2662,14657,855,315,69,69941,26658,8066,17941,...,285268,2739879,947,9078,6273,355,10,1221,1632,617
2020-07-03,32324,2752,15070,855,328,68,72786,27320,8260,18050,...,285787,2794153,952,9396,6537,355,10,1240,1632,625
2020-07-04,32672,2819,15500,855,346,68,75376,27900,8443,18165,...,286412,2839436,955,9708,6750,355,10,1248,1632,698
2020-07-05,32951,2893,15941,855,346,68,77815,28606,8583,18280,...,286931,2888635,956,10020,7169,355,10,1265,1632,716
2020-07-06,33190,2964,16404,855,346,70,80447,28936,8755,18365,...,287290,2936077,960,10362,7411,369,10,1284,1632,734

In [75]:
def Lastest_date_data(str1,df_new):
    df_latest = pd.DataFrame()
    Today = datetime.today().strftime('%Y-%m-%d')
    d1 = datetime.strptime(str1, "%Y-%m-%d")
    d2 = datetime.strptime(Today, "%Y-%m-%d")
    Diff = abs((d2 - d1).days)
    for i in range(1,Diff):
        df_latest = df_latest.append(df_new.iloc[[-i]])
    
    df_latest = df_latest.sort_index()
    
    return df_latest

In [76]:
Df_latest = Lastest_date_data('2020-06-28',df_1)
Df_latest

,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,United States of America,Uruguay,Uzbekistan,Venezuela (Bolivarian Republic),Viet Nam,Western Sahara,Yemen,Zambia,Zimbabwe
2020-06-29,31238,2466,13571,855,276,69,62268,25127,7834,17723,...,313470,2590668,932,8222,5530,355,10,1128,1568,574
2020-06-30,31517,2535,13907,855,284,69,64530,25542,7920,17766,...,314160,2636414,936,8503,5832,355,10,1158,1594,591
2020-07-01,31836,2580,14272,855,291,69,67197,26065,8001,17873,...,314992,2687588,943,8781,6062,355,10,1190,1632,605
2020-07-02,32022,2662,14657,855,315,69,69941,26658,8066,17941,...,285268,2739879,947,9078,6273,355,10,1221,1632,617
2020-07-03,32324,2752,15070,855,328,68,72786,27320,8260,18050,...,285787,2794153,952,9396,6537,355,10,1240,1632,625
2020-07-04,32672,2819,15500,855,346,68,75376,27900,8443,18165,...,286412,2839436,955,9708,6750,355,10,1248,1632,698
2020-07-05,32951,2893,15941,855,346,68,77815,28606,8583,18280,...,286931,2888635,956,10020,7169,355,10,1265,1632,716
2020-07-06,33190,2964,16404,855,346,70,80447,28936,8755,18365,...,287290,2936077,960,10362,7411,369,10,1284,1632,734