### This is the CLEANED Summary Data of all the required Statistics!
#### It contains the following values for 186 countries

#### New Confirmed, Total Confirmed
#### New Deaths, Total Deaths
#### New Recovered, Total Recovered

In [45]:
#Fetching data from covid-19 API by Johns Hopkinns

import pandas as pd
import numpy as np
import urllib.request
import os
import csv
import requests
import json

In [47]:
def get_data(link):               #defining a function to get covid19 data
    response = requests.get(link) #using the get method here
    covid_data = response.json()  #extracting the data
    df = pd.DataFrame(covid_data['Countries']) #creating a df from the data above and selecting the Key: Countries
    df = df.reindex(sorted(df.columns), axis = 1) #re-arranging the columns for enhanced readability
    df = df.drop(columns = 'Slug')  #dropping the column SLUG
    df['Date'] = pd.to_datetime(df['Date'])
    df['Date'] = df['Date'].dt.date
    return df

In [48]:
link = 'https://api.covid19api.com/summary'
covid_summary_df = get_data(link)

In [49]:
covid_summary_df.head()

,Country,CountryCode,Date,NewConfirmed,NewDeaths,NewRecovered,TotalConfirmed,TotalDeaths,TotalRecovered
0,Afghanistan,AF,2020-06-17,783,13,344,26310,491,5508
1,Albania,AL,2020-06-17,82,1,9,1672,37,1064
2,Algeria,DZ,2020-06-17,116,11,107,11147,788,7842
3,Andorra,AD,2020-06-17,1,1,0,854,52,789
4,Angola,AO,2020-06-17,6,0,0,148,6,64

In [44]:
#covid_summary_df.info() #All the columns are clean without any missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 9 columns):
Country           186 non-null object
CountryCode       186 non-null object
Date              186 non-null object
NewConfirmed      186 non-null int64
NewDeaths         186 non-null int64
NewRecovered      186 non-null int64
TotalConfirmed    186 non-null int64
TotalDeaths       186 non-null int64
TotalRecovered    186 non-null int64
dtypes: int64(6), object(3)
memory usage: 13.2+ KB

In [51]:
covid_summary_df.to_csv('CLEANED_covid_summary_dump.csv')